body {
    background-color: silver;
    background-image: url(../img/bg.gif);
}

.logo {
    height: 200px;
}

.main-navigation {
    background-color: white;
    margin-bottom: 40px;
}

.navbar-default {
    background-color: white;
}

.navbar-nav li {
    padding: 0 68px;
    text-align: center;
    font-size: 18px;
}

.navbar-nav .current {
    border-bottom: 4px solid deepskyblue;
    margin-bottom: -4px;
}

.tab-content {
    background-color: #ffffff;
    padding: 15px 20px 20px 20px;
    overflow-x: auto;
    height: 400px;
}

.todo {
    padding-bottom: 20px;
}

.todo ul {
    background-color: #ffffff;
}

.todo input {
    border-color: dodgerblue;
    border-radius: 5px 5px 0px 0px;
}

.todo textarea {
    width: 80%;
    display: inline;
    border-radius: 0px 0px 0px 5px;
    border-top: 0px;
    border-color: dodgerblue;
}

.todo .todo-footer button {
    width: 20%;
    height: 74px;
    display: inline;
    float: right;
    border-radius: 0px 0px 5px 0px;
}

.my-head {
    height: 100px;
}

.my-head i.ms-logo {
    font-size: 25px;
}

.messages {
    padding: 10px;
}

.messages img {
    width: 50px;
    height: 50px
}

.my-head .dropdown {
    float: left;
}

.my-head .count {
    line-height: 12px;
    padding: 1px 5px;
    position: absolute;
    right: 0px;
    top: -5px;
}

.my-head a {
    padding: 20px;
}

.img-circle {
    width: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition: transform, width;
    -o-transition-property: transform, width;
    -o-transition-duration: 1s;
    -moz-transition-property: transform, width;
    -moz-transition-duration: 1s;
    transition-property: transform, width;
    transition-duration: 1s;
}

.img-circle:hover {
    -moz-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
    width: 250px;
}

.my-body {
    background-color: white;
    padding: 20px;
}

.line {
    height: 5px;
    background-color: deepskyblue;
}

.my-body button {
    float: right;
}

div.modal-dialog {
    margin-top: 20%;
}

.modal-header {
    border-bottom: 10px solid deepskyblue;
    color: cornflowerblue;
}

.timeline-head {
    height: 60px;
    margin: 50px 0 30px 0;
    border-bottom: 4px solid deepskyblue;
    text-align: center;
}

.timeline-block {
    position: relative;
    margin-bottom: 30px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 34px;
    height: 100%;
    width: 4px;
    background: gainsboro;
}

.timeline-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    border: 3px solid #f1f1f1;
    text-align: center;
    background-color: dodgerblue;
    color: white;
}

.timeline-icon i {
    margin-left: 2px;
    margin-top: 8px;
}

.timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
}

.timeline-content .btn {
    float: right;
}

.timeline-content span {
    color: dodgerblue;
}

.copyright {
    margin-top: 20px;
    padding: 40px;
    background-color: cornflowerblue;
    text-align: center;
    color: white;
    font-size: 20px;
}

.news-block {
    border: 1px solid #dee5e7;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background-color: #ffffff;
    padding: 15px 20px 20px 20px;
    margin-bottom: 20px;
}

.news-block a {
    color: inherit;
}

.news-block:hover {
    -moz-box-shadow: 10px 10px 20px #888888;
    box-shadow: 10px 10px 20px #888888;
}

.news-block a:hover {
    text-decoration: none;
    color: dodgerblue;
}

@media only screen and (min-width: 1170px) {
    .timeline-icon {
        width: 50px;
        height: 50px;
        left: 50%;
        margin-left: -25px;
        font-size: 19px;
    }
    .timeline-icon i {
        margin-top: 13px;
    }
    .timeline::before {
        left: 50%;
        margin-left: -2px;
    }
    .timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .timeline-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 2px;
        font-size: 14px;
    }
    .timeline-content .btn {
        float: left;
    }
    .timeline-block:nth-child(even) .timeline-content {
        float: right;
    }
    .timeline-block:nth-child(even) .timeline-content .timeline-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .timeline-block:nth-child(even) .timeline-content .btn {
        float: right;
    }
}

.fadeInRight {
    animation: fadeInRight 0.5s;
    -webkit-animation: fadeInRight 0.5s;
    /* Safari and Chrome */
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}